@using Blog.Site.Models
@model IEnumerable<Blog.Services.ReturnRecordDTO>

@{
    ViewBag.Title = "Index";
}
@if (@TempData["message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["message"]
    </div>
}
<h2>Records</h2>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Record.RecordId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Record.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Record.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Record.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Record.CreateDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Record.RecordId)
            </td>
            <td>
                @Html.ActionLink(item.Record.Name, "Details", "Home", new RecordDetailsViewModel { RecordId = item.Record.RecordId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Record.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Record.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Record.CreateDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Record.RecordId }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Record.RecordId }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>
