@using Blog.Site.Helpers
@model Blog.Site.Models.ListViewModel<Blog.Services.ReturnModelDTO<Blog.Services.RecordDTO>>

@{
    ViewBag.Title = "Index";
}

<div>
    @if (@TempData["message"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["message"]
        </div>
    }

    <h2>Records</h2>

    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })

    <form class="form-inline">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search..." name="searchString" value="@Model.SearchString">
            <div class="input-group-append">
                <input type="submit" class="btn btn-outline-info" value="Search" />
            </div>
        </div>
    </form>
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Record Id</th>
            <th>Title</th>
            <th>Content</th>
            <th>State</th>
            <th>Create Date</th>
            <th></th>
        </tr>

        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.RecordId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.CreateDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Model.RecordId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Model.RecordId }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }

    </table>

    <br />
    <div class="btn-group float-right">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { searchString = Model.SearchString, page = x }))
    </div>
</div>