<div class="float-right">
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink(@HttpContext.Current.User.Identity.Name, "Index", "Account" , null, new { @class = "mr-2 btn"})
        @Html.ActionLink("Log Out", "Logout", "Account", new { returnUrl = Request.Url?.PathAndQuery }, new { @class = "btn btn-info" })
    }
    else
    {
        @Html.ActionLink("Log In", "LogIn", "Account", null, new { @class = "mr-2 btn btn-info" })
        @Html.ActionLink("Sign Up", "Register", "Account", null, new { @class = "btn btn-primary" })
    }
</div>
